/* [project]/src/pages/Home/Home.css [app-client] (css) */
.hero {
  align-items: flex-end;
  width: 100vw;
  height: 100svh;
  padding: 2em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-header {
  z-index: 1;
  justify-content: space-between;
  width: 100%;
  display: flex;
  position: relative;
}

.hero-header h1 {
  color: var(--bg);
  line-height: 1;
}

.sticky-titles {
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100svh;
  padding: 2em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sticky-titles-nav, .sticky-titles-footer {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.sticky-titles-nav {
  border-bottom: 1px dashed var(--fg);
  padding-bottom: .5em;
}

.sticky-titles-footer {
  border-top: 1px dashed var(--fg);
  padding-top: .5em;
}

.sticky-titles h2 {
  text-align: center;
  will-change: transform, opacity;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sticky-work-header {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  padding: 2em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sticky-work-header h1 {
  opacity: .125;
  line-height: 1;
}

.home-work {
  width: 100%;
  padding: 8em 2em;
}

.home-work-list {
  flex-direction: column;
  gap: 8em;
  width: 40%;
  margin: 0 auto;
  display: flex;
}

.home-work-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  display: flex;
}

.hobbies {
  gap: 1em;
  width: 100vw;
  padding: 2em 2em 0;
  display: flex;
}

.hobby {
  text-align: center;
  aspect-ratio: 1;
  border: 1px dashed var(--fg);
  border-radius: 1em;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 1000px) {
  .hero, .sticky-titles, .sticky-work-header, .hobbies {
    padding: 1.25em;
  }

  .sticky-titles h2 {
    width: 90%;
  }

  .hobbies {
    padding-bottom: 0;
  }

  .home-work {
    padding: 8em 1.25em;
  }

  .home-work-list {
    width: 100%;
  }

  .hobbies {
    flex-direction: column;
    gap: 1.25em;
  }

  .hobby {
    aspect-ratio: 5 / 3;
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* [project]/src/components/AnimatedCopy/AnimatedCopy.css [app-client] (css) */
.animated-copy [class^="line-"] {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

.animated-copy [class^="line-inner-"] {
  will-change: transform;
  display: block;
  position: relative;
}

/* [project]/src/components/Reviews/Reviews.css [app-client] (css) */
.reviews {
  background-color: var(--fg);
  width: 100vw;
  height: 100svh;
  color: var(--bg);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 4em 2em;
  display: flex;
  position: relative;
}

.reviews--banners {
  gap: 0;
  padding: 3em 2em 6em;
  overflow: hidden;
}

.banner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.banner-slide {
  object-fit: contain;
  object-position: center;
  will-change: clip-path, opacity;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.reviews-list {
  z-index: 10;
  gap: .75em;
  width: auto;
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.review-thumbnail {
  aspect-ratio: 16 / 9;
  cursor: pointer;
  filter: brightness(.6);
  border: 2px solid #ffffff40;
  border-radius: .4em;
  width: 120px;
  transition: border-color .3s ease-in-out, transform .3s;
  overflow: hidden;
}

.review-thumbnail:hover {
  filter: brightness(.85);
  transform: translateY(-2px);
}

.review-thumbnail.active {
  filter: brightness();
  border-color: #ffffffe6;
  transform: translateY(-3px);
}

.review-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

#review-copy {
  width: 50%;
  margin: 0 auto;
}

.review-item {
  text-align: center;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  padding: 2em;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote-icon {
  position: absolute;
  top: 25%;
}

h4#review-copy, h4#review-author {
  font-kerning: none;
  overflow: hidden;
  line-height: 1 !important;
}

h4#review-copy .line, h4#review-author .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
  overflow: hidden;
}

h4#review-copy .line span, h4#review-author .line span {
  will-change: transform;
  display: inline-block;
  position: relative;
}

@media (max-width: 1000px) {
  .reviews {
    padding: 4em 1.25em;
  }

  .reviews--banners {
    padding: 2em 1em 6em;
  }

  .review-thumbnail {
    width: 80px;
  }

  #review-copy {
    width: 100%;
  }

  .review-item {
    padding: 1.25em;
  }
}

/* [project]/src/components/ContactForm/ContactForm.css [app-client] (css) */
.contact-form {
  background-color: var(--fg);
  border-radius: 1em;
  flex-direction: column;
  gap: 4em;
  margin: 2em;
  padding: 2em;
  display: flex;
}

.contact-form h3, .contact-form p, .contact-form input, .contact-form textarea {
  color: var(--bg);
}

.contact-form input, .contact-form textarea {
  background-color: var(--fg200);
}

.contact-form .btn {
  background-color: var(--bg);
  color: var(--fg);
}

.contact-form-row:first-child {
  gap: 1em;
  width: 100%;
  display: flex;
}

.contact-form-row-copy-item {
  flex: 1;
}

.contact-form-row-copy-item:nth-child(2) {
  text-align: center;
}

.contact-form-row-copy-item:nth-child(3) {
  text-align: right;
}

.contact-form-col:first-child, .contact-form-header {
  flex-direction: column;
  gap: 1.5em;
  display: flex;
}

.contact-form-header p {
  width: 75%;
  margin-bottom: .5em;
}

.contact-form-row:nth-child(2) {
  gap: 1em;
  display: flex;
}

.contact-form-col {
  flex: 1;
}

.contact-form-col:first-child {
  flex-direction: column;
  justify-content: space-between;
  gap: 4em;
  display: flex;
}

.contact-form-availability {
  border-top: 1px dashed var(--bg);
  justify-content: space-between;
  gap: 1em;
  width: 75%;
  padding: .5em 0;
  display: flex;
}

.contact-form-col:nth-child(2) {
  flex-direction: column;
  gap: .75em;
  display: flex;
}

.form-item .btn {
  width: 100%;
}

@media (max-width: 900px) {
  .contact-form {
    margin: 1.25em;
  }

  .contact-form-row:first-child {
    flex-direction: column;
    gap: .25em;
  }

  .contact-form-row-copy-item, .contact-form-row-copy-item:nth-child(3), .contact-form h3, .contact-form p {
    text-align: center;
  }

  .contact-form-row:nth-child(2) {
    flex-direction: column;
    gap: 4em;
  }

  .contact-form-header p, .contact-form-availability {
    width: 100%;
  }

  .contact-form-col:first-child {
    gap: 2em;
  }

  .contact-form-availability {
    text-align: center;
    flex-direction: column;
    gap: .25em;
  }
}

/* [project]/src/components/Footer/Footer.css [app-client] (css) */
.footer {
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  min-height: 100svh;
  padding: 4em 2em 2em;
  display: flex;
  overflow: hidden;
}

.footer-row:first-child {
  justify-content: space-between;
  gap: 4em;
  display: flex;
}

.footer-contact, .footer-nav {
  flex: 1;
}

.footer-nav {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.footer-nav-item {
  border-top: 1px dashed var(--fg);
  justify-content: space-between;
  width: 50%;
  padding: 1em 0;
  display: flex;
}

.footer-nav-item:last-child {
  border-bottom: 1px dashed var(--fg);
}

.footer-contact {
  flex-direction: column;
  gap: 1.5em;
  display: flex;
}

.footer-contact p {
  margin-bottom: .5em;
}

.footer-header {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 4em 0;
  display: flex;
}

.footer-header h1 {
  font-size: 15vw;
  position: relative;
  left: -.5vw;
}

.footer-copyright-line {
  border-top: 1px dashed var(--fg);
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: .5em 0;
  display: flex;
}

.footer-copyright-line p:nth-child(2) {
  text-align: right;
}

@media (max-width: 1000px) {
  .footer-row:first-child {
    flex-direction: column;
  }

  .footer-nav {
    align-items: flex-start;
  }

  .footer-nav-item {
    width: 100%;
  }

  .footer-header {
    padding: 1em 0;
  }

  .footer {
    gap: 2em;
    padding: 4em 1.25em 1.25em;
  }
}

/* [project]/src/components/Transition/Transition.css [app-client] (css) */
.blocks-container {
  pointer-events: none;
  z-index: 10000000;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.row {
  flex: 1;
  width: 100%;
  display: flex;
}

.block {
  background: var(--bg);
  flex: 1;
  margin: -.25px;
  position: relative;
}

.transition-in .block {
  transform-origin: top;
}

.transition-out .block {
  transform-origin: bottom;
}

/*# sourceMappingURL=src_0fdlop4._.css.map*/